--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1+cu118
torchvision==0.15.2+cu118
pytorch-lightning==1.9.5
torchmetrics==0.9.3
aermanager==0.3.0
numpy==1.20.3
pandas==1.2.5
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.6.2
sparse==0.12.0
ptflops==0.6.6
dv-processing==2.0.3